.apresentacao{
    
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}
.apresentacao__texto{
    font-size: 3rem;
    margin: 2rem;
}
.apresentacao__titulo{
    font-size: 4rem;
    margin-left:  10rem;
    color: var(--azul-neon);
    text-shadow: 0.05em 0.05em 0.05em var(--cinza-claro)
    
}
.apresentacao__menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 4rem;
    
}
.aprentacao__link{
    text-decoration: none;
    font-family: var(--pixel2);
    color: var(--amarelo);
    font-size: 1.5rem;
}
.apresentacao__foto{
    width: 25rem;
    border: 1px solid var(--preto);
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .apresentacao{
       margin-top: 2rem;
        width: 100vh;
        height: auto;
        
        margin-left: 0;
        align-items: center;
        flex-direction: column-reverse;
    }
    .apresentacao__menu{
        margin-left: -0.8rem;
        padding: 0;
        width: 90vh;
    }
    .apresentacao__texto{
        width: 90vh;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .apresentacao__foto{
        margin-left: -60px;
    }
}
