.banner{
    
    width: 100%;
    
}
.banner__img{
    width: 100%;
    
}
.banner__titulo{
    position: absolute;
    top: 0;
    bottom: 60vh;
    left: -9rem;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    color:aliceblue;
    font-size: 6rem;
    font-family: var(--pixel2);
}

@media screen and (max-width: 768px) {
    .banner__titulo{
        position: absolute;
        top: 10%;
        left: 70%;
    }

}