:root{
    --preto: #000231;
    --cinza-claro: #808080;
    --azul-cabecalho:  #0840a0;
    --roxo-cabecalho: #824ddc;
    --azul-titulo: #19c8ec;
    --rosa: #f436f4;
    --pixel1: 'Press Start 2P', cursive;
    --pixel2: 'VT323', monospace;
    --azul-neon: #17fbf7;
    --amarelo: #faa11c;
}
body{
    font-family: var(--pixel2);
    background-color: var(--preto);
    color: aliceblue;
}

.container{
    margin-top: 7rem;
    padding: 1.25rem 10rem;
}
@media screen and (max-width: 768px) {
    body{
       width: 100vh;
       margin: 0;
       padding: 0; 
    }
    .container{
        margin-top: 7rem;
        padding: 0;
        margin: 0;
        width: 100vh;
    }
}