.cabecalho{
    background-color:var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}
.cabecalho__titulo{
    display: flex;
    color: var(--azul-titulo);
    text-shadow: 0.05em 0.05em 0.05em var(--rosa)
}
.cabecalho__menu{
    display: flex;
    justify-content: space-between;
    width: 60vh;
}
.cabecalho__link{
    list-style: none;
    
}
.cabecalho__link a{
    text-decoration: none;
    color:var(--azul-titulo);
    text-shadow: 0.05em 0.05em 0.05em var(--rosa)
}
@media screen and (max-width: 768px) {
    .cabecalho__titulo{
        margin-top: 2rem;
        width: 90vh;
    }
    .cabecalho{
        width: 100vh;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
        height: auto;
    }
    .cabecalho__titulo{
        font-size: 2rem;
        margin: 1rem;
    }
    .cabecalho__menu{
        width: 80vh;
        justify-content: space-around;
        margin-bottom: 1rem;
        margin-left: -4rem;
        padding-left: 0;
        font-size: 1.52rem;
    }
}