.contato__titulo{
    text-align: center;
    font-size: 4rem;
    color: var(--azul-neon);
    margin-bottom: 3rem;
    text-shadow: 0.05em 0.05em 0.05em var(--cinza-claro);
}
.contato__conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contato__item{
    
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    background-color: var(--azul-cabecalho);
    border-radius: 1.5rem;
}
.contato__alternativo{
    background-color: var(--preto);
}
.contato__lista--item{
    margin-bottom: 2rem;
    background-color: var(--amarelo);
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.contato__texto{
    font-size: 2.5rem;
    padding: 2rem;
}
.contato__lista--img{
    width: 5rem;
}
.img{
    width: 5.5rem;
}
.contato__formulario{
    text-align: center;
}
.contato__formulario div{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.contato__formulario input, textarea{
    font-family: var(--pixel2);
    color: var(--preto);
    font-size: 2rem;
    width: 35rem;
    resize: none;
}
.contato__botao{
    margin-top: 2rem;
    background-color: var(--azul-cabecalho);
    border: 3px solid var(--amarelo);
    border-radius: 5px;
    height: 4rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
#btn{
    color: var(--amarelo);
}
@media screen and (max-width: 768px) {
    .contato{
        margin-left: 11px;
    }
        .contato__titulo{
        
        width: 90vh;
        margin-top: 2rem;
    }
    .contato__conteudo{
        flex-direction: column;
    }
    .contato__alternativo ul{
        display: flex;
        justify-content: space-around;
        width: 90vh;
    }
    .contato__texto{
        width: 80vh;
        margin-left: 2rem;
    }
    .contato__item{
        width: 90vh;
    }
    
}
