.sobre{
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sobre__foto{
    width: 25rem;
    border: 1px solid var(--preto);
    border-radius: 50%;
}
.sobre__titulo{
    font-size: 4rem;
    margin: 1rem 0rem;
    color: var(--azul-neon);
    text-shadow: 0.05em 0.05em 0.05em var(--cinza-claro)
    
}
.sobre__texto{
    margin-top: 1.5rem;
    margin-left: 2rem;
    width: 55rem;
    font-size: 2rem;
}
@media screen and (max-width: 768px) {
    .sobre{
        flex-direction: column;
        margin-top: 3rem;
        margin-left: 4rem;
        width: 90vh;
        align-items: center;
    }
    .sobre__texto{
        margin-top: 1.5rem;
        margin-left: 0;
        width: 80vh;
        
        
    }
}